body {
    background: #F9F7FE;
}

h1 {
    color: black;
    font-size: 36px;
    font-family: 'Poppins', serif;
    font-weight: 700;
}

h2 {
    font-family: 'Playfair display', serif;
    font-weight: 700;
    font-size: 96px;
}

p {
    font-family: 'Poppins', serif;
    font-weight: normal;
    font-size: 24px;
}